/*
version 1.0.2-20220422
*/
html {
    font-size: 130%;
}
body {
    font-family: Helvetica, Verdana, Arial, '微軟正黑體', 'Microsoft JhengHei',
        '儷黑 Pro', 'LiHei Pro', sans-serif;
}
section {
    border: 2px solid #bdc3c7;
    margin: 10px 0;
    padding: 1.9rem 1rem 1rem;
    border-radius: 8px;
    position: relative;
    /* &[data-name] {
        &:before {
            z-index: 1;
            content: attr(data-name);
            pointer-events: none;
            border-radius: 0.25rem;
            padding: 0.1rem 0.2rem;
            position: absolute;
            top: 0;
            left: 0;
            color: white;
            background-color: #27ae60;
            font-size: 22px;
        }
        $COLORS: #3498db, #9b59b6, #e67e22, #34495e;
        @each $color in $COLORS {
            $i: index($COLORS, $color);
            &.style-#{$i}::before {
                background-color: $color;
            }
        }
    } */
}
section[data-name] section[data-name]:before {
    background-color: #3498db;
}
section[data-name] section[data-name] section[data-name]:before {
    background-color: #9b59b6;
}

.my-btn {
    border: 2px solid black;
    background-color: white;
    font-size: 20px;
    font-weight: bold;
    padding: 6px 24px;
    transition: all 0.2s;
    border-radius: 50px;
    cursor: pointer;
    &:hover {
        background-color: #e3e3e3;
    }
    &:active {
        box-shadow: 0 0 4px 0px rgba(0, 0, 0, 0.7);
    }
}
.my-checkbox {
    display: block;
    position: relative;
    padding-left: 30px;
    margin-bottom: 6px;
    margin-top: 6px;
    cursor: pointer;
    font-size: 22px;
    user-select: none;
    input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        &:checked ~ .checkmark {
            background-color: #3498db;
        }
    }
    .checkmark {
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        height: 25px;
        width: 25px;
        background-color: #eee;
        border: 2px solid black;
        &:after {
            content: '';
            position: absolute;
            display: none;
            left: 9px;
            top: 5px;
            width: 5px;
            height: 10px;
            border: solid white;
            border-width: 0 3px 3px 0;
            transform: rotate(45deg);
        }
    }
    &:hover input ~ .checkmark {
        background-color: #ccc;
    }
    &:hover input:checked ~ .checkmark {
        background-color: #2980b9;
    }
    input:checked ~ .checkmark:after {
        display: block;
    }
}

.switch {
    position: relative;
    display: flex;
    cursor: pointer;
    input {
        display: none;
    }
    .switch__ic {
        width: 60px;
        height: 34px;
        background-color: #ccc;
        transition: 0.4s;
        border-radius: 34px;
        margin-right: 5px;
        &:before {
            border-radius: 999px;
            position: absolute;
            content: '';
            width: 26px;
            height: 26px;
            left: 4px;
            bottom: 4px;
            background-color: white;
            transition: 0.4s;
        }
    }
    input:checked + .switch__ic {
        background-color: #2196f3;
        &:before {
            transform: translateX(26px);
        }
    }
    input:focus + .switch__ic {
        box-shadow: 0 0 1px #2196f3;
    }
    input:active + .switch__ic:before {
        width: 34px;
    }
    input:checked:active + .switch__ic:before {
        transform: translateX(18px);
    }
}

.button {
    position: relative;
    padding: 14px 28px;
    border: 3px solid #bdc3c7;
    box-shadow: 0 6px 0 #7f8c8d;
    background-color: #ecf0f1;
    border-radius: 10px;
    color: black;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
    margin-bottom: 5px;
    transition: transform 0.35s, box-shadow 0.35s;
}
.button:active {
    transform: translateY(3px);
    box-shadow: 0 3px 0 #95a5a6;
}
.button + .button {
    margin-right: 15px;
}

.spinner,
.spinner:after {
    border-radius: 50%;
    width: 50px;
    height: 50px;
}
@keyframes spinner-animation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
.spinner {
    display: inline-block;
    font-size: 10px;
    position: relative;
    border-top: 5px solid rgba(0, 0, 0, 0.2);
    border-right: 5px solid rgba(0, 0, 0, 0.2);
    border-bottom: 5px solid rgba(0, 0, 0, 0.2);
    border-left: 5px solid black;
    animation: spinner-animation 1.1s infinite linear;
}
.spinner-wrap {
    position: absolute;
    top: 5px;
    right: 5px;
}
